.listItems {
	list-style-type: none;
}
.clInterior {
	margin-left: 30px;
}
#about {
	margin-left: 20%;
}
footer {
	position: absolute;
	background-color: #1995dc;
	width: 100%;
	text-align: center;
	color: white;
	margin-top: 11%;
}
